# EDA For Used Car Prices

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as ply
import pandas_profiling as ppf

In [2]:
raw_cars = pd.read_csv('vehicles.csv')

In [3]:
raw_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458213 entries, 0 to 458212
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    458213 non-null  int64
 1   id            458213 non-null  int64
 2   url           458213 non-null  object
 3   region        458213 non-null  object
 4   region_url    458213 non-null  object
 5   price         458213 non-null  int64
 6   year          457163 non-null  float64
 7   manufacturer  439993 non-null  object
 8   model         453367 non-null  object
 9   condition     265273 non-null  object
 10  cylinders     287073 non-null  object
 11  fuel          454976 non-null  object
 12  odometer      402910 non-null  float64
 13  title_status  455636 non-null  object
 14  transmission  455771 non-null  object
 15  VIN           270664 non-null  object
 16  drive         324025 non-null  object
 17  size          136865 non-null  object
 18  type          345475 non-null  object
 19  paint_color   317370 non-null  object
 20  image_url     458185 non-null  object
 21  description   458143 non-null  object
 22  state         458213 non-null  object
 23  lat           450765 non-null  float64
 24  long          450765 non-null  float64
 25  posting_date  458185 non-null  object
dtypes: float64(4), int64(3), object(19)
memory usage: 90.9+ MB

In [4]:
raw_cars.head(2)

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
0,0,7240372487,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,35990,2010.0,chevrolet,corvette grand sport,good,...,rwd,NaN,other,NaN,https://images.craigslist.org/00N0N_ipkbHVZYf4...,Carvana is the safer way to buy a car During t...,al,32.5900,-85.4800,2020-12-02T08:11:30-0600
1,1,7240309422,https://auburn.craigslist.org/cto/d/auburn-201...,auburn,https://auburn.craigslist.org,7500,2014.0,hyundai,sonata,excellent,...,fwd,NaN,sedan,NaN,https://images.craigslist.org/00s0s_gBHYmJ5o7y...,I'll move to another city and try to sell my c...,al,32.5475,-85.4682,2020-12-02T02:11:50-0600

In [5]:
profile_cars = ppf.ProfileReport(raw_cars, title='Used Car Data',dark_mode=True,explorative=True)
profile_cars.to_file("UsedCars.html")

Summarize dataset:   0%|          | 0/40 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]