# EDA NFL Play by Play

In [90]:
# https://towardsdatascience.com/4-libraries-that-can-perform-eda-in-one-line-of-python-code-b13938a06ae

In [91]:
import pandas as pd
import numpy as np

import sweetviz as sv
from autoviz.AutoViz_Class import AutoViz_Class
import dtale as dtl

import os
import re
import os.path as path

Executing shutdown due to inactivity...

2021-02-26 17:04:16,481 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2021-02-26 17:04:28,608 - INFO     - Executing shutdown...

In [84]:
def find_file_by_string(substring, base='.'):
    f_dict = {}
    for root, dirs, files in os.walk(base):
        for f in files:
            if substring in f:
                f_dict[f] = path.join(root,f)
    return f_dict

In [85]:
# Check PWD
pwd = %pwd
pwd

'C:\\Users\\Mike\\Google Drive\\Code\\Springboard\\Springboard\\capstone main\\NFLData'

In [86]:
#Build File Dict for use
file_d = find_file_by_string('.csv',os.path.join(pwd, "data"))
current_file = 'pbp-2020.csv'

In [87]:
# Load a typical dataframe for traditional EDA
df_raw = pd.read_csv(file_d[current_file],parse_dates=True)

# Sweetviz Tryout

In [88]:
#EDA using SweetViz
NFL_report_AV = sv.analyze(df_raw,parse_dates=True))

#Saving results to HTML file
NFL_report_AV.show_html(current_file.split(".")[0]+'.html')

                                             |                                                                â€¦

Report pbp-2020.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [89]:
df_raw.describe()

,GameId,Quarter,Minute,Second,Down,ToGo,YardLine,Unnamed: 10,SeriesFirstDown,Unnamed: 12,...,IsMeasurement,IsInterception,IsFumble,IsPenalty,IsTwoPointConversion,IsTwoPointConversionSuccessful,YardLineFixed,IsPenaltyAccepted,IsNoPlay,PenaltyYards
count,4.618900e+04,46189.000000,46189.000000,46189.000000,46189.000000,46189.000000,46189.000000,0.0,46189.000000,0.0,...,46189.0,46189.000000,46189.000000,46189.000000,46189.000000,46189.000000,46189.000000,46189.000000,46189.000000,46189.000000
mean,2.020164e+09,2.562883,6.247288,27.194657,1.615363,6.907965,55.084176,NaN,0.390807,NaN,...,0.0,0.009678,0.012795,0.070428,0.002923,0.001429,26.006040,0.062006,0.047479,0.524389
std,2.174311e+05,1.127556,4.691707,18.370660,1.171145,4.884643,27.604160,NaN,0.487937,NaN,...,0.0,0.097899,0.112391,0.255870,0.053984,0.037774,14.564219,0.241169,0.212663,2.481131
min,2.020091e+09,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,0.000000,NaN,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.020101e+09,2.000000,2.000000,11.000000,1.000000,2.000000,32.000000,NaN,0.000000,NaN,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,0.000000,0.000000,0.000000
50%,2.020111e+09,2.000000,6.000000,27.000000,1.000000,9.000000,51.000000,NaN,0.000000,NaN,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,28.000000,0.000000,0.000000,0.000000
75%,2.020121e+09,4.000000,10.000000,43.000000,2.000000,10.000000,80.000000,NaN,1.000000,NaN,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,37.000000,0.000000,0.000000,0.000000
max,2.021010e+09,5.000000,15.000000,59.000000,4.000000,42.000000,100.000000,NaN,1.000000,NaN,...,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,49.000000,1.000000,1.000000,51.000000

In [82]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46189 entries, 0 to 46188
Data columns (total 45 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   GameId                          46189 non-null  int64
 1   GameDate                        46189 non-null  object
 2   Quarter                         46189 non-null  int64
 3   Minute                          46189 non-null  int64
 4   Second                          46189 non-null  int64
 5   OffenseTeam                     42234 non-null  object
 6   DefenseTeam                     42234 non-null  object
 7   Down                            46189 non-null  int64
 8   ToGo                            46189 non-null  int64
 9   YardLine                        46189 non-null  int64
 10  Unnamed: 10                     0 non-null      float64
 11  SeriesFirstDown                 46189 non-null  int64
 12  Unnamed: 12                     0 non-null      float64
 13  NextScore                       46189 non-null  int64
 14  Description                     46189 non-null  object
 15  TeamWin                         46189 non-null  int64
 16  Unnamed: 16                     0 non-null      float64
 17  Unnamed: 17                     0 non-null      float64
 18  SeasonYear                      46189 non-null  int64
 19  Yards                           46189 non-null  int64
 20  Formation                       45155 non-null  object
 21  PlayType                        44058 non-null  object
 22  IsRush                          46189 non-null  int64
 23  IsPass                          46189 non-null  int64
 24  IsIncomplete                    46189 non-null  int64
 25  IsTouchdown                     46189 non-null  int64
 26  PassType                        18862 non-null  object
 27  IsSack                          46189 non-null  int64
 28  IsChallenge                     46189 non-null  int64
 29  IsChallengeReversed             46189 non-null  int64
 30  Challenger                      0 non-null      float64
 31  IsMeasurement                   46189 non-null  int64
 32  IsInterception                  46189 non-null  int64
 33  IsFumble                        46189 non-null  int64
 34  IsPenalty                       46189 non-null  int64
 35  IsTwoPointConversion            46189 non-null  int64
 36  IsTwoPointConversionSuccessful  46189 non-null  int64
 37  RushDirection                   12537 non-null  object
 38  YardLineFixed                   46189 non-null  int64
 39  YardLineDirection               46189 non-null  object
 40  IsPenaltyAccepted               46189 non-null  int64
 41  PenaltyTeam                     3253 non-null   object
 42  IsNoPlay                        46189 non-null  int64
 43  PenaltyType                     3253 non-null   object
 44  PenaltyYards                    46189 non-null  int64
dtypes: float64(5), int64(29), object(11)
memory usage: 15.9+ MB

# DTALE Tryout

In [60]:
dtl.show(df_raw)

http://MIKE-9360:40000/dtale/main/1
It looks like this data may have already been loaded to D-Tale based on shape and column names. Here is URL of the data that seems to match it:

None

If you still want to load this data please use the following command:

dtale.show(df, ignore_duplicate=True)