# EDA of Kaggle Json Data

In [1]:
import pandas as pd
import numpy as np

import sweetviz as sv
#from autoviz.AutoViz_Class import AutoViz_Class
#import dtale as dtl

import os
import re
import os.path as path

%config Completer.use_jedi = False

In [4]:
df_raw_profile = pd.read_json("C://Users///Mike/Google Drive/Code/Springboard//Springboard//capstone main//NFLData//data//profiles_1512362725.022629.json")

In [3]:
df_raw_profile

,player_id,name,position,height,weight,current_team,birth_date,birth_place,death_date,college,high_school,draft_team,draft_round,draft_position,draft_year,current_salary,hof_induction_year
0,1809,Robert Blackmon,DB,6-0,208.0,None,1967-05-12,"Bay City, TX",None,Baylor,"Van Vleck, TX",Seattle Seahawks,2.0,34.0,1990.0,None,NaN
1,23586,Dean Wells,LB,6-3,248.0,None,1970-07-20,"Louisville, KY",None,Kentucky,"Holy Cross, KY",Seattle Seahawks,4.0,85.0,1993.0,None,NaN
2,355,Kiko Alonso,ILB,6-3,238.0,Miami Dolphins,1990-08-14,"Newton, MA",None,Oregon,"Los Gatos, CA",Buffalo Bills,2.0,46.0,2013.0,"1,075,000",NaN
3,18182,Steve Ramsey,QB,6-2,210.0,None,1948-04-22,"Dallas, TX",1999-10-15,North Texas,"W.W. Samuell, TX",New Orleans Saints,5.0,126.0,1970.0,None,NaN
4,16250,Cory Nelms,CB,6-0,195.0,None,1988-02-27,"Neptune, NJ",None,Miami (FL),"Neptune, NJ",None,NaN,NaN,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25038,17925,Felto Prewitt,C-LB,5-11,207.0,None,1924-05-17,"Corsicana, TX",1998-03-15,Tulsa,"Corsicana, TX",Philadelphia Eagles,6.0,48.0,1946.0,None,NaN
25039,10762,Eddie Jackson,DB,6-0,190.0,None,1980-12-19,"Americus, GA",None,Arkansas,"Richardson, TX",None,NaN,NaN,NaN,None,NaN
25040,19343,Ron Sabal,T-G,6-3,245.0,None,1936-07-23,"Chicago, IL",None,Purdue,"St. Rita of Cascia, IL",Philadelphia Eagles,19.0,220.0,1958.0,None,NaN
25041,4880,Darrel Crutchfield,DB,6-0,177.0,None,1979-02-26,"San Diego, CA",None,Clemson,"William M. Raines, FL",None,NaN,NaN,NaN,None,NaN
25042,23865,Will Whitticker,G,6-5,338.0,None,1982-08-02,"Evansville, IN",None,Michigan St.,"Marion, IN",Green Bay Packers,7.0,246.0,2005.0,None,NaN

In [5]:
df_raw_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25043 entries, 0 to 25042
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   player_id           25043 non-null  int64
 1   name                25043 non-null  object
 2   position            25043 non-null  object
 3   height              24788 non-null  object
 4   weight              24927 non-null  float64
 5   current_team        1881 non-null   object
 6   birth_date          24879 non-null  object
 7   birth_place         24151 non-null  object
 8   death_date          6542 non-null   object
 9   college             24893 non-null  object
 10  high_school         23889 non-null  object
 11  draft_team          15041 non-null  object
 12  draft_round         15041 non-null  float64
 13  draft_position      15041 non-null  float64
 14  draft_year          15041 non-null  float64
 15  current_salary      1765 non-null   object
 16  hof_induction_year  0 non-null      float64
dtypes: float64(5), int64(1), object(11)
memory usage: 3.2+ MB

In [8]:
#EDA using SweetViz
player = sv.analyze(df_raw_profile)

#Saving results to HTML file
player.show_html('player.html')

                                             |                                            | [  0%]   00:00 -> â€¦

Report player.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.