# Data Science Jobs in the United States

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

import pandas_profiling as ppf

In [2]:
# URL https://www.kaggle.com/atharvap329/glassdoor-data-science-job-data

### Load Data

In [3]:
# Data_Job_NY is all job titles

In [4]:
# URL https://www.kaggle.com/atharvap329/glassdoor-data-science-job-data
# Data_Job_NY is all job titles...seems to be all title
file_list_jobs = {'SF':'Data_Job_SF.csv','TX':'Data_Job_TX.csv','WA':'Data_Job_WA.csv','NY':'Data_Job_NY.csv'}
# Data_Job_NY is all job titles...seems to be all title
file_list_US = ['data_scientist_united_states_job_postings_jobspikr.csv']

In [5]:
# [InternetShortcut]
# URL=https://www.kaggle.com/jobspikr/data-scientist-job-postings-from-the-usa
file_jobspikr = 'data_scientist_united_states_job_postings_jobspikr.csv'

### Build DataFrames

In [6]:
data_SF = pd.read_csv(file_list_jobs['SF'])
data_TX = pd.read_csv(file_list_jobs['TX'])
data_WA = pd.read_csv(file_list_jobs['WA'])
data_NY = pd.read_csv(file_list_jobs['NY'])

In [7]:
data_jobspikr = pd.read_csv(file_jobspikr)

In [8]:
### Check Suspect NY - might be all job titles

In [9]:
data_NY['Job_title'].unique()

array(['Chief Marketing Officer (CMO)', 'Registered Nurse',
       'Dental Hygienist', 'Senior Salesforce Developer',
       'DEPUTY EXECUTIVE DIRECTOR, PROGRAM AND LEGAL ADVOCACY',
       'Emergency Veterinarian - NYC', 'ABA Therapist',
       'Construction Project Manager', 'Diesel Mechanic', 'Plumber',
       'OT/ICS Systems Engineer', 'Paid Search Director',
       'Principal Incident Response Consultant',
       'Emergency Veterinary Technician',
       'Principal, Sr. Consultant – Creative Technologist',
       'RN/LPN (PRN)', 'Lab - Medical Technologist',
       'Mammography Technologist PRN',
       'Regional Vice President – Partner Development (East Coast)',
       'Forward Deployed Engineer', 'Senior Estimator/Project Manager',
       'Interested in KWT Global?', 'Pest Control Technician',
       'Doctor of Veterinary Medicine', 'Hair Stylist', 'RN / LPN',
       'Ultrasound Technologist', 'NYS Licensed Psychologist',
       'Lead Pharmacy Technician: Billing',
       'Experienced A level mechanic'], dtype=object)

### Jobspiker Data

In [10]:
data_jobspikr['crawl_timestamp'] = pd.to_datetime(data_jobspikr['crawl_timestamp'])
data_jobspikr['post_date'] = pd.to_datetime(data_jobspikr['post_date'])

In [11]:
data_jobspikr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   crawl_timestamp       10000 non-null  datetime64[ns, UTC]
 1   url                   10000 non-null  object
 2   job_title             10000 non-null  object
 3   category              9118 non-null   object
 4   company_name          9999 non-null   object
 5   city                  9751 non-null   object
 6   state                 9584 non-null   object
 7   country               10000 non-null  object
 8   inferred_city         8980 non-null   object
 9   inferred_state        9484 non-null   object
 10  inferred_country      9505 non-null   object
 11  post_date             10000 non-null  datetime64[ns]
 12  job_description       10000 non-null  object
 13  job_type              10000 non-null  object
 14  salary_offered        597 non-null    object
 15  job_board             9310 non-null   object
 16  geo                   9300 non-null   object
 17  cursor                10000 non-null  int64
 18  contact_email         0 non-null      float64
 19  contact_phone_number  416 non-null    object
 20  uniq_id               10000 non-null  object
 21  html_job_description  1599 non-null   object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(1), int64(1), object(18)
memory usage: 1.7+ MB

In [12]:
data_NY['Job_title'].unique()

array(['Chief Marketing Officer (CMO)', 'Registered Nurse',
       'Dental Hygienist', 'Senior Salesforce Developer',
       'DEPUTY EXECUTIVE DIRECTOR, PROGRAM AND LEGAL ADVOCACY',
       'Emergency Veterinarian - NYC', 'ABA Therapist',
       'Construction Project Manager', 'Diesel Mechanic', 'Plumber',
       'OT/ICS Systems Engineer', 'Paid Search Director',
       'Principal Incident Response Consultant',
       'Emergency Veterinary Technician',
       'Principal, Sr. Consultant – Creative Technologist',
       'RN/LPN (PRN)', 'Lab - Medical Technologist',
       'Mammography Technologist PRN',
       'Regional Vice President – Partner Development (East Coast)',
       'Forward Deployed Engineer', 'Senior Estimator/Project Manager',
       'Interested in KWT Global?', 'Pest Control Technician',
       'Doctor of Veterinary Medicine', 'Hair Stylist', 'RN / LPN',
       'Ultrasound Technologist', 'NYS Licensed Psychologist',
       'Lead Pharmacy Technician: Billing',
       'Experienced A level mechanic'], dtype=object)

### Investigate SF Data

In [13]:
data_SF['Date_Posted'] = pd.to_datetime(data_SF['Date_Posted'])
data_SF['Valid_until'] = pd.to_datetime(data_SF['Valid_until'])

In [14]:
data_SF.head(2)

,Job_title,Company,State,City,Min_Salary,Max_Salary,Job_Desc,Industry,Rating,Date_Posted,Valid_until,Job_Type
0,Senior Data Scientist - Underwriting Algorithms,Faire,CA,San Francisco,151875,170407,Faire is using machine learning to change whol...,Business Services,4.3,2020-05-06,2020-06-05,FULL_TIME
1,Data Scientist,GovTech,CA,San Francisco,78594,147225,We are looking for Data Scientists who are int...,Government,3.6,2020-05-01,2020-06-05,FULL_TIME

In [15]:
data_SF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Job_title    889 non-null    object
 1   Company      889 non-null    object
 2   State        889 non-null    object
 3   City         889 non-null    object
 4   Min_Salary   889 non-null    int64
 5   Max_Salary   889 non-null    int64
 6   Job_Desc     889 non-null    object
 7   Industry     767 non-null    object
 8   Rating       808 non-null    float64
 9   Date_Posted  889 non-null    datetime64[ns]
 10  Valid_until  889 non-null    datetime64[ns]
 11  Job_Type     889 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(2), object(7)
memory usage: 83.5+ KB

In [16]:
data_SF['State'].unique()

array(['CA', 'KY'], dtype=object)

In [17]:
data_SF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Job_title    889 non-null    object
 1   Company      889 non-null    object
 2   State        889 non-null    object
 3   City         889 non-null    object
 4   Min_Salary   889 non-null    int64
 5   Max_Salary   889 non-null    int64
 6   Job_Desc     889 non-null    object
 7   Industry     767 non-null    object
 8   Rating       808 non-null    float64
 9   Date_Posted  889 non-null    datetime64[ns]
 10  Valid_until  889 non-null    datetime64[ns]
 11  Job_Type     889 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(2), object(7)
memory usage: 83.5+ KB

### Investigate WA Data

In [18]:
data_WA['Date_Posted'] = pd.to_datetime(data_WA['Date_Posted'])
data_WA['Valid_until'] = pd.to_datetime(data_WA['Valid_until'])

In [19]:
data_WA.head(2)

,Job_title,Company,State,City,Min_Salary,Max_Salary,Job_Desc,Industry,Rating,Date_Posted,Valid_until,Job_Type
0,Data Scientist,ManTech,VA,Chantilly,108486,145165,This company is in a hiring surge in response ...,Business Services,4.1,2020-04-30,2020-06-06,FULL_TIME
1,Data Scientist,GEICO,MD,Chevy Chase,69285,113337,GEICO’s Data Science team uses predictive anal...,Insurance,3.3,2020-05-02,2020-06-06,FULL_TIME

In [20]:
data_WA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Job_title    892 non-null    object
 1   Company      892 non-null    object
 2   State        890 non-null    object
 3   City         892 non-null    object
 4   Min_Salary   892 non-null    int64
 5   Max_Salary   892 non-null    int64
 6   Job_Desc     892 non-null    object
 7   Industry     761 non-null    object
 8   Rating       794 non-null    float64
 9   Date_Posted  892 non-null    datetime64[ns]
 10  Valid_until  892 non-null    datetime64[ns]
 11  Job_Type     892 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(2), object(7)
memory usage: 83.8+ KB

In [21]:
data_WA['State'].unique()

array(['VA', 'MD', 'DC', 'NC', nan, 'TX'], dtype=object)

In [22]:
data_WA['Industry'].unique()

array(['Business Services', 'Insurance', 'Aerospace & Defense',
       'Information Technology', 'Health Care', nan, 'Government',
       'Biotech & Pharmaceuticals', 'Finance',
       'Oil, Gas, Energy & Utilities', 'Education', 'Retail',
       'Transportation & Logistics', 'Media', 'Non-Profit',
       'Manufacturing', 'Accounting & Legal', 'Telecommunications'],
      dtype=object)

### Investigate TX Data

In [23]:
data_TX['Date_Posted'] = pd.to_datetime(data_TX['Date_Posted'])
data_TX['Valid_until'] = pd.to_datetime(data_TX['Valid_until'])

In [24]:
data_TX.head(2)

,Job_title,Company,State,City,Min_Salary,Max_Salary,Job_Desc,Industry,Rating,Date_Posted,Valid_until,Job_Type
0,Senior Data Scientist,Brinks Home Security,TX,Dallas,81260,101976,Brinks Home Security™ is a proven leader in th...,Business Services,3.4,2020-04-30,2020-06-06,FULL_TIME
1,Machine Learning/Data Analyst,Applied Research Laboratories,TX,Austin,69500,80000,This company is in a hiring surge in response ...,Education,3.8,2020-05-01,2020-06-06,FULL_TIME

In [25]:
data_TX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643 entries, 0 to 642
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Job_title    643 non-null    object
 1   Company      643 non-null    object
 2   State        643 non-null    object
 3   City         637 non-null    object
 4   Min_Salary   643 non-null    int64
 5   Max_Salary   643 non-null    int64
 6   Job_Desc     643 non-null    object
 7   Industry     572 non-null    object
 8   Rating       587 non-null    float64
 9   Date_Posted  643 non-null    datetime64[ns]
 10  Valid_until  643 non-null    datetime64[ns]
 11  Job_Type     643 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(2), object(7)
memory usage: 60.4+ KB

In [26]:
data_TX['Industry'].unique()

array(['Business Services', 'Education', 'Information Technology',
       'Biotech & Pharmaceuticals', 'Insurance', 'Media', nan,
       'Oil, Gas, Energy & Utilities', 'Finance', 'Health Care',
       'Accounting & Legal', 'Consumer Services', 'Manufacturing',
       'Aerospace & Defense', 'Telecommunications', 'Retail',
       'Government', 'Arts, Entertainment & Recreation', 'Real Estate',
       'Restaurants, Bars & Food Services', 'Transportation & Logistics',
       'Construction, Repair & Maintenance'], dtype=object)

# Combine Columns - columns are same and we have filter column

In [27]:
data_all = pd.concat([data_TX,data_SF,data_WA])
data_all.reset_index(inplace=True)

In [28]:
data_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2424 entries, 0 to 2423
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        2424 non-null   int64
 1   Job_title    2424 non-null   object
 2   Company      2424 non-null   object
 3   State        2422 non-null   object
 4   City         2418 non-null   object
 5   Min_Salary   2424 non-null   int64
 6   Max_Salary   2424 non-null   int64
 7   Job_Desc     2424 non-null   object
 8   Industry     2100 non-null   object
 9   Rating       2189 non-null   float64
 10  Date_Posted  2424 non-null   datetime64[ns]
 11  Valid_until  2424 non-null   datetime64[ns]
 12  Job_Type     2424 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(3), object(7)
memory usage: 246.3+ KB

In [29]:
data_all['State'].unique()

array(['TX', 'Texas', 'TN', 'CA', 'KY', 'VA', 'MD', 'DC', 'NC', nan],
      dtype=object)

In [30]:
profile = ppf.ProfileReport(data_all, title='Data Science Jobs Glassdoor',dark_mode=True,explorative=True)

In [31]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/27 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

,df_index,Job_title,Company,State,City,Min_Salary,Max_Salary,Job_Desc,Industry,Rating,Date_Posted,Valid_until,Job_Type
0,0,Senior Data Scientist,Brinks Home Security,TX,Dallas,81260,101976,Brinks Home Security™ is a proven leader in th...,Business Services,3.4,2020-04-30,2020-06-06,FULL_TIME
1,1,Machine Learning/Data Analyst,Applied Research Laboratories,TX,Austin,69500,80000,This company is in a hiring surge in response ...,Education,3.8,2020-05-01,2020-06-06,FULL_TIME
2,2,Insurance Data Analyst,"Applied Systems, Inc.",TX,Austin,31518,60395,"Indio, an insurance technology company, is cur...",Information Technology,4.1,2020-05-05,2020-06-06,FULL_TIME
3,3,"Scientist II, Cell & Tissue Reference Laboratory",BioBridge Global,TX,San Antonio,41822,91420,Our organization is unique in that we are a no...,Biotech & Pharmaceuticals,2.2,2020-05-07,2020-06-06,FULL_TIME
4,4,"Associate Scientist, Process Development & Man...",BioBridge Global,TX,San Antonio,43286,56254,Our organization is unique in that we are a no...,Biotech & Pharmaceuticals,2.2,2020-04-25,2020-06-06,FULL_TIME
5,5,Data Analyst II,"Insight Enterprises, Inc.",TX,Plano,50099,55348,The Data Analyst II is responsible for data en...,Information Technology,4.1,2020-05-03,2020-06-06,FULL_TIME
6,6,Data Scientist,Health IQ,TX,Dallas,109021,136518,This company is in a hiring surge in response ...,Insurance,4.1,2020-05-05,2020-06-06,FULL_TIME
7,7,"Director, Data Science",United Entertainment Group,TX,Dallas,79409,132138,"Director, Data Science - (200500) Description ...",Business Services,3.4,2020-05-06,2020-06-06,FULL_TIME
8,8,Data Engineer,SciPlay,TX,Austin,68264,85692,"\n\n\n\n\n\n\nAustin, Texas \n\n\n\n\nApply\n\...",Media,4.0,2020-05-01,2020-06-06,FULL_TIME
9,9,"Predictive Data Analyst, Fundraising",Publishing Concepts,TX,Dallas,33844,63544,The Predictive Data Analyst assists in managin...,Media,3.1,2020-05-05,2020-06-06,FULL_TIME

,df_index,Job_title,Company,State,City,Min_Salary,Max_Salary,Job_Desc,Industry,Rating,Date_Posted,Valid_until,Job_Type
2414,882,Data Science and Machine Learning Engineer,Booz Allen Hamilton Inc.,DC,Washington,59894,108894,Data Science and Machine Learning Engineer\n\n...,Business Services,3.7,2020-05-01,2020-06-06,FULL_TIME
2415,883,Data Science and Machine Learning Engineer wit...,Booz Allen Hamilton,DC,Washington,74364,132506,Job Number: R0076611 Data Science and Machine ...,Business Services,3.7,2020-04-28,2020-06-06,FULL_TIME
2416,884,Natural Language Processing Applied Research S...,Booz Allen Hamilton,DC,Washington,37937,84049,Job Number: R0074275 Natural Language Processi...,Business Services,3.7,2020-04-24,2020-06-06,FULL_TIME
2417,885,"Data Engineer, Lead with Security Clearance",Booz Allen Hamilton,VA,Arlington,95665,165443,"Job Number: R0083366 Data Engineer, Lead\n\nTh...",Business Services,3.7,2020-05-02,2020-06-06,FULL_TIME
2418,886,"Data Analyst, Mid with Security Clearance",Booz Allen Hamilton,VA,Arlington,51373,92403,"Job Number: R0083364 Data Analyst, Mid\n\nThe ...",Business Services,3.7,2020-05-06,2020-06-06,FULL_TIME
2419,887,Data Engineer/Architect with Security Clearance,Booz Allen Hamilton,VA,McLean,74916,128610,Job Number: R0082817 Data Engineer/Architect\n...,Business Services,3.7,2020-04-24,2020-06-06,FULL_TIME
2420,888,Data Engineer with Security Clearance,Booz Allen Hamilton,VA,Arlington,58824,112227,Job Number: R0083152 Data Engineer\n\nThe Chal...,Business Services,3.7,2020-05-02,2020-06-06,FULL_TIME
2421,889,"Data Engineer, Mid with Security Clearance",Booz Allen Hamilton,VA,Herndon,58824,112227,"Job Number: R0083073 Data Engineer, Mid\n\nKey...",Business Services,3.7,2020-05-07,2020-06-06,FULL_TIME
2422,890,"Data Modeler, Senior with Security Clearance",Booz Allen Hamilton,VA,Springfield,90454,151998,"Job Number: R0082912 Data Modeler, Senior\n\nT...",Business Services,3.7,2020-04-28,2020-06-06,FULL_TIME
2423,891,"Data Engineer, Senior with Security Clearance",Booz Allen Hamilton,VA,Herndon,91443,155868,"Job Number: R0083334 Data Engineer, Senior\n\n...",Business Services,3.7,2020-05-02,2020-06-06,FULL_TIME

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [32]:
profile.to_file("DataScienceJobsGlassDoor.html")

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [33]:
report_spikr = ppf.ProfileReport(data_jobspikr, title='Data Science Jobs Spikr',dark_mode=True,explorative=True)

In [34]:
report_spikr.to_file("DataScienceJobsSpikr.html")

Summarize dataset:   0%|          | 0/36 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]